.welcome {
  margin-top: 50px;
  margin-left: 50px;
}
.wel_logo {
  height: 70%;
  width: 70%;
}
.tips {
  margin-top: 40px;
}
.grid-content {
  min-height: 100px;
  border-radius: 8px;
  margin-left: 45px;
  color: #fdfdfd;
  box-shadow:2px 2px 30px #c2c2c2;
}
.tips_icon {
  font-size: 40px;
  line-height: 100px;
}
.tips_right {
  margin-top: 27px;
}
.progress {
  margin-top: 50px;
  margin-left: 45px;
}
.el-progress {
  margin-top: 20px;
}
