.annex-panel {
  background-color: #fff;
  text-align: center;
  padding: 20px 20px;
  font-size: 14px;
  font-weight: lighter;
}
.annex-title {
  text-align: left;
}
.annex-btn {
  margin: 6px 0;
  padding: 8px 38%;
  border-radius: 0;
}
.annex-buttons {
  margin-top: 10px;
}
